<ion-view title="Aplicación Prueba 3 ,5 , 7, 9" id="page3">
 <ion-nav-bar class="bar bar-header bar-dark">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content padding="true" class="has-header">
    <div class="card">

  <div class="item item-text-wrap" style="text-align:center;"> 
    Bienvenido, Señor<b> Oscar Baquero</b>, <i>Subdirector de Desarrollo de Aplicaciones</i>
  </div>

</div>


    <h4 id="aplicaciNPrueba3579-heading7" style="color:#FFFFFF;font-weight:400;"><b>En la prueba</b></h4>
    <div class="item item-body" id="aplicaciNPrueba3579-list-item-container6">
      <ion-list id="aplicaciNPrueba3579-list7">
        <ion-item class="item-avatar" id="aplicaciNPrueba3579-list-item5" ui-sref="informeRector">
          <img src="img/JvA0YUsnSEyZQe4LRhsD_rector.jpg">
          <h2><b>Informe Rector</b></h2>
        </ion-item>
        <ion-item class="item-avatar" id="aplicaciNPrueba3579-list-item8">
          <img src="img/XVVNxmdPS9FlYuoiwkWA_delegado.jpg">
          <h2><b>Informe Delegado</b></h2>
        </ion-item>
      </ion-list>
    </div>
    <h4 id="aplicaciNPrueba3579-heading3" style="color:#FFFFFF;font-weight:400;"><b>Antes de la Prueba</b></h4>
    <div class="item item-body" id="aplicaciNPrueba3579-list-item-container2">
      <ion-list id="aplicaciNPrueba3579-list6">
        <ion-item class="item-avatar" id="aplicaciNPrueba3579-list-item7" ui-sref="instalaciNEntregaYDevoluciNDeMaterial">
          <img src="img/HX2wlxjKQbWmNlCrRAng_material.PNG">
          <h2><b>Instalación, Entrega y devolución de material</b></h2>
        </ion-item>
      </ion-list>
    </div>
    <h4 id="aplicaciNPrueba3579-heading1" style="color:#FFFFFF;font-weight:400;"><b>Primeros Pasos</b></h4>
    <div class="item item-body" id="aplicaciNPrueba3579-list-item-container5">
      <ion-list id="aplicaciNPrueba3579-list4">
        <ion-item class="item-avatar" id="aplicaciNPrueba3579-list-item3">
          <img src="img/jBZO1PRCIFJCmDKYZwgt_actualizaciondatos.jpg">
          <h2><b>Actualización Datos</b></h2>
        </ion-item>
        <ion-item class="item-avatar" id="aplicaciNPrueba3579-list-item4" ui-sref="buscarPuntoDeEntrega">
          <img src="img/hWpd58KIRwarSM8rmGzh_consultarPE.PNG">
          <h2><b>Consultar Punto Entrega</b></h2>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>