<ion-view title="Buscar Punto de Entrega" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="buscarPuntoDeEntrega2-form10" class="list">
      <label class="item item-input" id="buscarPuntoDeEntrega2-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <button id="buscarPuntoDeEntrega2-button4" class="button button-positive  button-block">Buscar</button>
    <div>
      <img src="img/RGQGD6wSsi4NSQz7bJyz_mapacolegio.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
   

     <div class="card">

  <div  id="buscarPuntoDeEntrega2-markdown15"  class="item item-text-wrap" style="text-align:center;"> 
   Colegio San Felipe Neri, Bogotá - Cundinamarca, Colombia
  </div>

</div>
  </ion-content>
</ion-view>