<ion-view title="Buscar Código" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/hWpd58KIRwarSM8rmGzh_consultarPE.PNG" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <br>
    <form id="buscarCDigo-form6" class="list">
      <label class="item item-input" id="buscarCDigo-input8">
        <input type="text" placeholder="Ingrese un código de barras">
      </label>
    </form>
    <a ui-sref="buscarCDigo2" id="buscarCDigo-button10" class="button button-positive  button-block">Buscar Código</a>
  </ion-content>
</ion-view>