<ion-view title="Buscar Punto de Entrega" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="buscarPuntoDeEntrega-form9" class="list">
      <label class="item item-input" id="buscarPuntoDeEntrega-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Ingrese el nombre del punto de entrega">
      </label>
    </form>
    <a ui-sref="buscarPuntoDeEntrega2" id="buscarPuntoDeEntrega-button3" class="button button-positive  button-block">Buscar</a>
  </ion-content>
</ion-view>