<ion-view title="Informe Rector" id="page7">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/LgZmIN1uTgq6sFvESnxe_informerector.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="informeRector-list8">
      <ion-item class="item-icon-right" id="informeRector-list-item9" href-inappbrowser="http://giphy.com/gifs/l0HlLKgU7JYzknyjS">Ir al diligenciamiento
        <i class="icon ion-link"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="informeRector-list-item12" ui-sref="reporteInformeRector">Así va el Informe
        <i class="icon ion-pie-graph"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="informeRector-list-item11" href-inappbrowser="http://giphy.com/gifs/l0HlLKgU7JYzknyjS">Como Diligenciarlo
        <i class="icon ion-help"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>