<ion-view title="Instalación, Entrega y Devolución de Material" id="page4">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/sPzIteWUQbu3td9Yf29o_entregainstalacionrecepcion.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
   

 <div class="card">

  <div class="item item-text-wrap" style="text-align:center;"> 
   Para la aplicación de las Pruebas Saber 3°, 5° y 9°, el material debe ser reclamado en cada punto de entrega por el Rector o su delegado de las Sedes Principales, el delegado debe llevar una autorización por escrito, firmada por el Rector para reclamar
        el material de la Institución Educativa. Quien reclama debe tener los números del código DANE de todas las Sedes que corresponden a la Sede principal, con su respectivo código Saber.
  </div>

</div>


    <form id="instalaciNEntregaYDevoluciNDeMaterial-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="instalaciNEntregaYDevoluciNDeMaterial-toggle4">Se encuentra activa</ion-toggle>
      <ion-item class="item-icon-left" id="instalaciNEntregaYDevoluciNDeMaterial-list-item14">
        <i class="icon ion-link"></i>Ir al sitio</ion-item>
      <ion-item class="item-avatar" id="instalaciNEntregaYDevoluciNDeMaterial-list-item15" ui-sref="buscarCDigo">
        <img src="img/6RwD94QIT5u2ZBtYb0Lh_Buscarcodigo.jpg">
        <h2>Buscar código</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>