<ion-view title="Saber Móvil" id="page2">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="prueba3579-form2" class="list">
      <ion-list id="prueba3579-list1">
        <label class="item item-input" id="prueba3579-input4">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="prueba3579-input5">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="aplicaciNPrueba3579" id="prueba3579-button2" style="color:black;" class="button button-block button-stable"><b>Ingresar</b></a>
    </form>
    <div>
      <img src="img/oqti6okdTKQDq6qZcJft_3579.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>