<ion-view title="Selección del proyecto" id="pageSeleccionProyecto">
   <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content padding="true" class="has-header">
    <form id="prueba3579-pageSeleccion" class="list">
      <ion-list id="prueba3579-pageSeleccion-list1">
        <button class="button button-full button-positive" ui-sref="aplicaciNPrueba35792">
  Prueba Saber 3,5,7,9
</button>
        <button class="button button-full button-positive">
  Prueba Electrónica
</button>
 <button class="button button-full button-positive">
  Prueba Pre-Saber 11
</button>
 <button class="button button-full button-positive">
  Prueba Saber Pro
</button>
      </ion-list>
         </form>
  </ion-content>
</ion-view>